@model ConvertedTimezoneDetailViewModel


<h5 class="card-title">Converted Timezones</h5>

<p class="card-text"><b>Original StartDateTime:</b> @Model.OriginalStartDateTime</p>
<p class="card-text"><b>Original EndDateTime:</b> @Model.OriginalEndDateTime</p>
<p class="card-text"><b>Original StartDateTime:</b> @Model.OriginalStartDateTime</p>
<p class="card-text"><b>Original StartDateTime:</b> @Model.OriginalStartDateTime</p>
<p class="card-text"><b>Original StartDateTime:</b> @Model.OriginalStartDateTime</p>
<p class="card-text"><b>Original StartDateTime:</b> @Model.OriginalStartDateTime</p>
<p class="card-text"><b>Original StartDateTime:</b> @Model.OriginalStartDateTime</p>
<p class="card-text"><b>Original StartDateTime:</b> @Model.OriginalStartDateTime</p>
<p class="card-text"><b>Original StartDateTime:</b> @Model.OriginalStartDateTime</p>
<p class="card-text"><b>Original StartDateTime:</b> @Model.OriginalStartDateTime</p>